<h2>Iniciar Sesión</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label>Correo</label>
    <input type="email" formControlName="correo" />
    <div *ngIf="form.get('correo')?.invalid && form.get('correo')?.touched">
      Correo inválido
    </div>
  </div>

  <div>
    <label>Contraseña</label>
    <input type="password" formControlName="contrasenia" />
    <div *ngIf="form.get('contrasenia')?.invalid && form.get('contrasenia')?.touched">
      Contraseña requerida
    </div>
  </div>

  <button type="submit">Entrar</button>
</form>

<p>
  ¿No tienes cuenta?
  <a routerLink="/registro">Regístrate</a>
</p>
